snippet #
---
- hosts: localhost
  tasks:

  - name: $1
endsnippet

snippet 'debug|msg|print' "Debug in task" r
- name: Test $1
  debug:
  `!p snip.shift(); snip.rv = snip.mkline()`msg: "$2"
endsnippet

snippet 'debug|msg|print' "Debug alone" r
- debug:
  `!p snip.shift(); snip.rv = snip.mkline()`var: $1
endsnippet
